<div class="container">
    <h1 class="display-4 border-btm">Saved Articles</h1>
    {{#each results}}
        <div class="row my-5 back-lightblue {{{id}}}">
            <div class="col-12 mb-4">
                <h3>{{{headline}}}</h3>
                <p><b>Scraped On:</b> {{{date}}}</p>
                <p>{{{summary}}}</p>
                <a href={{{url}}} target="_blank">View Article</a>
                <br>
            </div>
            <div class="col-sm-12 col-lg-6 mb-1">
                <button
                    class="btn btn-info notes-btn"
                    type="button"
                    data-id={{{id}}}
                    data-toggle="modal"
                    data-target="#exampleModalCenter">
                    Article Notes
                </button>
                <button
                    class="btn btn-outline-danger remove-btn"
                    type="button"
                    data-id={{{id}}}>
                    Remove Article
                </button>
            </div>
        </div>
    {{/each}}
</div>